      
/******************************************************************************
 * Custom Moo Styles
 ******************************************************************************/

.login-error {
	text-align:center;
	color:#880000;
}


iframe.uploadFrame { 
	border-color: #D0D0D0 !important;
    border-style: solid !important;
    border-width: 1px !important;
    overflow: auto !important;
    position: relative !important;
    height: 270px !important;
    width: 1100px !important; 
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/******************************************************************************
 * Drop Zone
 ******************************************************************************/
#dropzone {
    background: #ccccc;
    height: 90px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
